*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:  'Open Sans', sans-serif;
}
.gray{
  background-color: #f8f8f8;
}
.green{
   background-color: #a5c926 ;
}
.green-c{
  color: #a5c926;
}
.top-header-content a{
   color: white;
}
.top-header-content span{
  color: white;
  font-size: 12px;
}
.header-social img{
    height: 15px;
}
.header-social a:not(:last-child){
    margin-right: 10px;
}
.nav-2{
   font-size: 25px;
}
.nav-item-2{
   margin-left: 22px;
}
.nav-item-2:hover{
   text-decoration: underline;
}
#main_header .navbar-nav .nav-item-2 {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid transparent;
}
.circle{
   border-radius: 50%;
   background-color: #a5c926;
   padding: 0 10px;
}
.padding-top{
  padding-top: 30px;
}
.padding-bottom{
  padding-bottom: 80px;
}
.home{
 width: 100%;
 padding: 8px 24px;
 border: 2px solid #e5e5e5;
 border-radius: 24px;
 color: #999;
}
.home a{
 text-decoration: none;
 color: #999;
}
.home img{
  margin: 0 10px;
  opacity: 0.2;
}
.delivery{
   padding: 80px;
   background-color: #fff;
   border-radius: 16px;
   box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.20)
}
.info h2{
   font-weight: 400;
}
.info h4{
   font-size: 26px;
}
.info p{
   font-size: 16px;
   font-weight: 400;
   padding: 10px 0;
}
.contact{
   padding: 40px;
   background-color: #fff;
   border-radius: 16px;
   box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.20);
   border: 2px solid #e5e5e5;
}
.contact h6{
   font-weight: 600;
}
.contact a{
   color: #fff;
   text-decoration: none;
}
.contact button{
  padding: 8px 24px;
  border-radius: 20px;
  border: 0;
  background-color: #a5c926;
}
.bg-suscribe{
  background-color: #fff;
  padding: 60px 15px;
  border-radius: 16px;
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.25)
}
.play-btn{
  background-color: #a5c926;
}
.d-inline h4{
  font-size: 28px;
}
.d-inline a{
  color: #a5c926;
  text-decoration: none;
}
.pad-right{
  margin-left: 50px;
  padding: 12px 40px;
  border: 2px solid #e5e5e5;
  border-radius: 24px;
  width: 50%;
}
.bg-color{
  background-color: #a5c926;
  border: 0;
  padding: 12px 28px;
  border-radius: 24px;
  color: #fff;
  font-weight: 400;
  margin-left: 20px;
}
.ElasticThemes p{
  color: #a5c926;
  font-weight: 400;
}
.ElasticThemes h2{
  font-weight: 500;
  margin-bottom: 80px;
}
.direction{
  margin-bottom: 70px;
  transition: transform 0.25s linear;
}
.direction:hover{
  transform: scale(1.1);
  box-shadow: 0 1px 18px 0px rgb(0 0 0 / 6%); 
}
.direction img{
  max-width: 100%;
  border-radius: 16px;
}
.set{
  background-color: #a5c926;
  border: 0;
  padding: 12px 24px;
  border-radius: 24px;
  transition: transform 0.25s linear;
}
.set:hover{
  transform: scale(1.1);
  box-shadow: 0 1px 18px 0px rgb(0 0 0 / 6%); 
}
.set-1{
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.toy{
  padding-top: 48px;
  padding-bottom: 30px;
}
.toy a{
  text-decoration: none;
  font-size: 25px;
  color: #fff;
}
.menu{
  padding-top: 55px;
  text-align: center;
}
.menu a{
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}
.menu a:hover{
  text-decoration: underline;
}
.social{
  padding-top: 55px;
  padding-left: 70px;
}
.social img{
  max-width: 100%;
  margin: 0 15px;
}
.footer::before{
  content: "";
  width: 85%;
  height: 2px;
  position: absolute;
  margin-top: -2px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.25)
}
.footer-left{
  margin-top: 30px;
}
.footer-left p{
  color: #fff;
  font-size: 12px;
}
.footer-left a{
  color: #fff;
}
.footer-right{
  margin-top: 30px;
  padding-bottom: 20px; 
}
.footer-right p{
   color: #fff;
   font-size: 12px;
   display: inline-block;
}
.footer-right a{
   color: #fff;
   font-size: 12px;
}